<h2>Perfil de usuario</h2>
<div class="container grid">
    <div class="col-1">
        <div class="grid">
        <div class="col-1__1 item-center">
            <p-avatar image="https://avatars.githubusercontent.com/u/21172240?v=4" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar>
        </div>
        <div class="col-1__1">
            <div class="p-inputgroup lol">
                <span class="p-inputgroup-addon">Subir foto &nbsp;<button pButton pRipple type="button" icon="pi pi-plus" class="p-button-warning button" routerLink="/ejercicio1/"></button></span>  
            </div>
        </div>
        </div>
    </div>
    <div class="col-2">
        <div class="grid">
            <div class="col-1__1">
                <div class="grid">
                    <div class="col-3">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon pi pi-user"></span>
                            <input type="text" pInputText placeholder="Usuario">   
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon pi pi-user"></span>
                            <input type="text" pInputText placeholder="Contraseña">     
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon pi pi-user"></span>
                            <input type="text" pInputText placeholder="Repetir contraseña">        
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1__1">
                <div class="grid">
                    <div class="col-3">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">€</span>
                            <input type="text" pInputText placeholder="Sueldo">   
                            <span class="p-inputgroup-addon">.00</span>      
                        </div>  
                    </div>
                    <div class="col-3">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">www</span>
                            <input type="text" pInputText placeholder="Página web">         
                        </div>                        
                    </div>
                    <div class="col-3">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon pi pi-twitter"></span>
                            <input type="text" pInputText placeholder="Twitter">       
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon pi pi-facebook"></span>
                        <input type="text" pInputText placeholder="Facebook">        
                    </div>
                </div>
        </div>
    </div>
</div>