<div class="container">
<p-panel header="Ejercicios de PrimeNg">
    <div class="container__button">
      <button pButton pRipple type="button" label="Ejercicio 1" class="p-button-warning button" routerLink="/ejercicio1/"></button>
      <button pButton pRipple type="button" label="Ejercicio 2" class="p-button-warning button" routerLink="/ejercicio2/"></button>
      <button pButton pRipple type="button" label="Ejercicio 3" class="p-button-warning button" routerLink="/ejercicio3/"></button>
      <button pButton pRipple type="button" label="Ejercicio 1 con GRID" class="p-button-warning button" routerLink="/ejercicio4/"></button>
      <button pButton pRipple type="button" label="Ejercicio 2 con GRID" class="p-button-warning button" routerLink="/ejercicio5/"></button>
      <button pButton pRipple type="button" label="Ejercicio 3 con GRID" class="p-button-warning button" routerLink="/ejercicio6/"></button>
    </div>
    <router-outlet></router-outlet>
</p-panel>
</div>