button {
    margin: 1em !important;
}
.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background: #fff3e0 !important;
    border-color: #fff3e0 !important;
    color: #495057 !important;
}
.p-link:focus {
    outline: 0 none !important;
    outline-offset: 0 !important;
    box-shadow: 0 0 0 0.2rem #ffe69c !important;
}